{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "import/no-unresolved": ["error"],
    "comma-dangle": ["error", "only-multiline"],
    "object-curly-spacing": ["error", "never"],
  },
}
