.notification {
  align-items: center;
  box-sizing: border-box;

  display: flex;
  justify-content: space-around;
  padding: 1em;

  position: fixed;
  top: 1em;
  left: 3em;
  right: 3em;

  /* Styling for specific notification types. */
  &.info {
    background-color: #e6d963;
    color: black;
  }
  &.error {
    background-color: #c51162;
    color: white;
  }
}

@media (max-width: 768px) {
  .notification {
    top: 0;
    left: 0;
    right: 0;
  }
}

.message {
  width: 80%;
}

.close {
  /* Button reset */
  border: none;
  margin: 0;
  /* padding: 0; */
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  /* end Button reset */

  color: #575757;
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  padding: 0.3em;
  text-transform: uppercase;
  max-width: 20%;

  .error & {
    color: white;
  }
}
